/* General styles for footer */
.footer {
  background-color: #1c80dd;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  font-size: 12px;
}

.footer p {
  margin: 5px 0;
  color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
    font-size: 14px;
  }

  .footer p {
    margin: 8px 0;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 0;
    font-size: 16px;
  }

  .footer p {
    margin: 10px 0;
  }
}
